$color-white: #fff;
$color-gray: #ddd;
$color-green: #20e0a4;
$color-yellow: #ffa300;
$color-red: #ed4f6e;
$color-lightblue: #48a8ff;
$color-darkblue: #5e6ea5;
$color-navy: #252554;

$color-divider: $color-gray;
